#Hdiv{
    padding: 20px;
    border-bottom: 10px solid rgb(157, 255, 0);
    background-color: antiquewhite;
    
  }
  #Title{
    background-color: rgb(10, 32, 82);
    color: aliceblue;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 10px;
    border-radius: 15%;
  }
  #seconD{
    background-image: url("../img/Diratus_landscape.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
   ul li{
    line-height:30px;
   
  }
  li{
     display:block;
     background-color: blanchedalmond;
    border-bottom: 5px solid #442432;
     padding-left: 20px;
     text-decoration: none;
     color:black


  }
  #navv li{
    list-style-type: none;
    margin-left: -25px;
  }
  #navv li a{
    text-decoration: none;
    color:black;
  }
  #navv li:hover{
    background-color: greenyellow;
  }
  #ND{
    background-color: rgba(5, 6, 4, 0.416);
    margin:10px 10px 10px 0px;
    height: 150px;
    width:100%;

  }
  #wlcm{
     text-align: center;
     color:white;
     padding-top:33px;
  }
  #footerdv{
    background-color: yellowgreen;
    height:30px;
    width:100%;
    
    

  }
  #footerdv p{
    text-align: center;
    color:black;
    padding-top: 3px;
  }
  